Button {
    width: 100%;
}

.change_line {
    padding: 1;
    text-align: center;
}

.change_line Button {
    width: 15;
}

#more {
    dock: right;
}

/* #less {
    dock: left;
}

.change_line Static {
    text-align: center;
    height: 5;
} */

.hidden {
    display: none;
}

.successful {
    color: green;
}

.fail {
    color: red;
}

.testing {
    background: blueviolet;
}

.oui {
    background: yellow;
}