Button {
    width: 100%;
    background: red;
}

.change_line {
    padding: 1;
    text-align: center;
    background: yellow;
}

.change_line Button {
    width: 15;
}

#more {
    dock: right;
}

.hidden {
    display: none;
}